body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
section{
    display: flex;
    margin-bottom: 200px;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.half-width img{
    width: 100%;
    border-radius: 50%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(blue, rgb(40, 131, 184));
    padding: 4px 22px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.top-banner{
    background-image: url(favicon.jpg);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(ksm-nobachground.png);
    background-repeat: no-repeat;
    background-position: right;
}