body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 200px;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.half-width img{
    width: 100%;
    border-radius: 50%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(blue, rgb(40, 131, 184));
    padding: 4px 22px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.top-banner{
    background-image: url(favicon.jpg);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(ksm-nobachground.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-area{
    background-image: url(ksm-nobachground.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 5px;
    box-shadow: 10px 10px 30px gray;
}
#web-developer-experience{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
#fill-stack-experience{
    border-left: 7px solid;
    border-image: linear-gradient(orange, tomato);
    border-image-slice: 1;
}
footer{
    text-align: center;
}