body {
    font-family: 'Poppins', sans-serif;
    margin: auto;
    padding: 0;
    max-width: 1200px;
}

a>i {
    font-size: 22px;
    color: crimson;
}

.nav-link {
    font-size: 17px;
    font-weight: 500;
}

.long-font {
    font-size: 40px;
    font-weight: 900;
}

.medium-font {
    font-size: 35px;
    font-weight: 900;
}

.crimson-color {
    color: crimson;
}

.extra-long-font {
    font-size: 60px;
}

.up-icon {
    transform: rotate(90deg);
}


.link {
    text-decoration: none;
    padding: 4px 20px;
    font-weight: 700;
}

.link:hover,
a>i:hover {
    color: rgb(245, 51, 90);
}

.top-banner {
    background-image: url(/images/top-portfolio-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.about {
    background-image: url(/images/bg-about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.skills {
    background-image: url(/images/bg-skills.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.skill-item {
    box-shadow: 10px 10px 30px gray;
}

div>i {
    font-size: 100px;
}



footer {
    text-align: center;
}